<strong>Olá, {{ deliveryman }}</strong>
<p>Há uma nova encomenda disponivel para retirada, confira os detalhes da encomenda abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br>
  <strong>Nome do destinatário: </strong> {{ recipient.name }} <br>
</p>